/first_plot.pdf
plots/
*.root
*.slcio
*.evx
*.hepmc
*.json
*.f90
*.mod
*.smod
*.la
*.lo
*.o
*.makefile
*.phs
*.vg
*.vg2
*.so
*.so.*
*.a
*.lai
*_diags-fmf.*
*.tex
### LaTeX ###
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*
# these rules might exclude image files for figures etc.
*.ps
# *.eps
# *.pdf

